@charset "UTF-8";

.card-wrapper {
  display: flex;
  flex-wrap: wrap; /* 次の行に繰り越される設定 */
  gap: 10px; /* カード間のスペースを設定 */
  justify-content: space-between; /* 必要に応じて配置を調整 */
}

.card {
  flex: 0 0 calc(25% - 10px); /* カードの幅を4分割に設定 */
  box-sizing: border-box; /* パディングやボーダーを含めて計算 */
  padding: 10px;
  border: solid #000000 1px;
}


.hgroup {
	text-align: right;
}

img {
	width: 290px;
	height: 290px;
}
